__pycache__/
*.pyc
.build/
log/
Log/
captures/
config/*.env
!config/*.env.example
config/local.env
tools/__pycache__/
utils/__pycache__/
data/*
!data/
!data/check_data.py
!data/convert_mujoco_to_lerobot.py
*.bak_*
support/kubeconfig.yaml
task/__pycache__/
support/__pycache__/
